.lists {
    float: left;
    overflow: auto;
    display: grid;
    grid-auto-flow: column;
    align-self: center;
}

.sidebar {
    height: 100%;
    width: 20%;  /* Sidebar takes full width on small screens */
    background-color: var(--light-turquoise);
    border-right: 1px solid #e1e4e8;
    padding: 3%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

.header {
    padding: 20px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
}

.boardMainContent {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    height: 100vh;
    max-width: 100%;
    transition: background-image 0.5s ease-in-out;
    display: grid;
    grid-auto-flow: column;
    align-self: center;
    padding: 20px;
}

.listWrapper {
    display: grid;
    grid-auto-flow: column;
    align-self: center;
    padding: 10px;
}