/* 
colors 
F6F4E8 BEIGE
BACEC1 LIGHT TURQUISE
E59560 LIGHT ORANGE
1D3124 DARK GREEN */


.main {
background-color: #F6F4E8;
display: flex;
width: 100%;
justify-content: space-between; 
}

.homepageContainer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .homepageContainer h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
  }
  
  /* Grid Layout */
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
    padding: 0 10px;
    flex: 1;
  }
  
  /* Grid Item Styling */
  .gridItem {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    position: relative;
  }
  
  /* Hover Effect for Grid Items */
  .gridItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .gridItem img {
    width: 100%;
    height: auto;
    max-width: 150px;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  /* Grid Item Title */
  .gridItem h3 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
    font-family: 'Arial', sans-serif;
  }
  
  /* Grid Item Description */
  .gridItem p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
    margin: 10px 0;
    font-family: 'Arial', sans-serif;
  }
  .deleteButtonContainer {
    width: 100%;
    text-align: center;
  }
  
  /* Adjust the delete button */
  .deleteButton {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px; /* Space above the delete button */
  }
  
  .deleteButton:hover {
    background-color: darkred;
  }
  
  /* Responsive Design for Smaller Screens */
  @media (max-width: 768px) {
    .homepageContainer h1 {
      font-size: 2rem;
      text-align: center;

    }
  
    .gridContainer {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  
    .gridItem {
      padding: 15px;
    }
  
    .gridItem h3 {
      font-size: 1.1rem;
    }
  
    .gridItem p {
      font-size: 0.9rem;
    }
  }
  