.listsContainer {
  display: flex;
  gap: 20px;
  padding: 20px;
  overflow-x: auto; /* Allow horizontal scrolling if cards overflow */
}

.listCard {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 300px;
  transition: box-shadow 0.3s ease;
  border: 2px dashed transparent;
}

.listCard.drag-over {
  border: 2px dashed #494b4c;
  background-color: #f0f8ff;
}

.listCard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.listTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333333;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  height:100%;

}

.wrapper{
  padding: 1px;
}

.listHighlight {
  background-color: rgba(219, 119, 52, 0.2); 
}

.cardHighlight {
  border: 2px dashed #3498db;
  background-color: #469f5ca1 ; 
}


/* Responsive Layout */
@media (max-width: 600px) {
  .listsContainer {
    flex-direction: column;
    gap: 15px;
  }

  .listCard {
    width: 100%;
  }
}
