

.listsContainer {
  display: flex;
  gap: 20px;
  padding-left: 6px;
  flex-wrap: nowrap; /* Keep the lists aligned horizontally */
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
  border-bottom: 2px solid #dddd;
  max-width: 100vw;
  white-space: nowrap;
  max-height: calc(100vh - 20px);
  box-sizing: border-box;
}

.addListCard{
  position: absolute; /* Makes this container relative to the .listsContainer */
  /* top: 0; You can adjust this to align vertically as needed */
  left: 1; /* This ensures it's always aligned to the left of the .listsContainer */
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;  
  transition: box-shadow 0.3s ease;
  border: 2px dashed transparent;
}

.addListCardHeader{
  padding-left: 10px;
}

.listCard {
  position: relative; /* Make this container relative to allow absolute positioning of the delete button */
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: auto;
  width: auto;
  transition: box-shadow 0.3s ease;
  border: 2px dashed transparent;
  overflow-y: auto; /*scroll if exceed max height*/
  overflow-x: hidden;
  scroll-behavior: smooth;
  max-height: calc(100vh - 20%);
  box-sizing: border-box;
  word-wrap: break-word;
  white-space: normal;  
  min-width: 300px;
}

.listCard.drag-over {
  border: 2px dashed #494b4c;
  background-color: #f0f8ff;
}

.listCard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.input {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 6px;
  margin: 10px;  
}

.addBoardButton {
  padding: 5px;
  background-color:  #7CA1CC;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.listTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333333;
  top: 0;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  height: 100%;

}

.listHeader {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background-color: white;
  padding: 15px;
  border-bottom: 1px solid #ccc;
  height: 25px;
}

.listFooter {
  position: sticky;
  bottom: 0;
  z-index: 10;
  background: white;
  padding: 20px;
  border-top: 1px solid #ccc;
}

.listHighlight {
  background-color: rgba(219, 119, 52, 0.2);
}

.cardHighlight {
  border: 2px dashed #3498db;
  background-color:  #7CA1CC;
}


.smallDeleteButton {
  background-color: #F05039 ;
  color: white;
  padding: 4px 8px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  /* z-index: 9999;  */
}

.smallDeleteButton:hover {
    filter: brightness(0.9);
}


/* Responsive Layout */
@media (max-width: 600px) {
  .listsContainer {
    flex-direction: column;
    gap: 15px;
  }

  .listCard {
    width: 100%;
  }
}

/* Styling the scrollbar track (the part the thumb slides within) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  /* For horizontal scrollbar */
}

/* Styling the scrollbar track itself */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Styling the draggable part of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  transition: background 0.3s;
}

/* Styling the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
