
body {
  font-family: Arial, sans-serif;
  background-color: #E0DCD3;
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  background-color: #E0DCD3;
}

.loginContainer {
  width: 100%;
  max-width: 40%;
  padding: 2%;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Centering all elements in the container */
}

.loginContainer h1 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

.formGroup {
  margin-bottom: 20px;
}

.formGroup label {
  display: block;
  margin-bottom: 8px;
  font-size: 0.9rem;
  color: #555;
}

.formGroup input {
  width: 80%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #333;
  transition: border-color 0.3s ease;
}

.formGroup input:focus {
  border-color: #007bff;
  outline: none;
}

.errorMessage {
  color: #ff4d4d;
  font-size: 0.9rem;
  margin-bottom: 15px;
  text-align: center;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginButton {
  width: 50%;
  padding: 12px;
  font-size: 1.1rem;
  color: white;
  background-color: #4a92df; /* Blue color for the button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.registerBtn {
    padding: 10px 16px;
    margin-right: 8px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s;
  }
  
  .registerBtn:hover {
    filter:brightness(0.8);
  }


/* Button hover effect */
.loginButton:hover {
  background-color: #0056b3; /* Darker blue on hover */
}


/* Google-like login button styling */
.googleLoginButton {
  width: 50%; /* Button width */
  padding: 12px;
  font-size: 1.1rem;
  background-color: #4285f4; /* Google Blue */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  transition: background-color 0.3s ease;
  text-align: center;
}

/* Styling for Google icon (optional) */
.googleLoginButton img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  object-fit: contain;
  align-self: center;
}

/* Adding Google colors to the button background */
.googleLoginButton {
  align-self: center;
  background: linear-gradient(90deg, #4285f4 20%, #ea4335 40%, #fbbc05 60%, #34a853 80%);
}

/* Google button hover effect */
.googleLoginButton:hover {
  filter: brightness(0.8);
}

