/* Container for the entire navbar */
.navBar {
  display: flex;
  align-items: center;  /* Center everything vertically in the navbar */
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: #E0DCD3;
  border-bottom: 1px solid #555;
  padding: 0 30px;  /* Adjust padding to keep it balanced */
  box-sizing: border-box;  /* Include padding in total width */
}

/* Navigation links container (left side) */
.navLinks {
  margin-top: 5px;
  display: flex;
  list-style-type: none;
  align-items: center; /* Ensure links are vertically aligned */
}

.navLinks li {
  margin-left: 20px;
}

.navLinks li a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.navLinks li a:hover {
  color:#302623c0;
}

/* Logo container styling */
.logoContainer a img {
  margin-left: 5%;
  width: auto;
  height: 50px;
  padding: 10%;
  border-radius: 8px;
}

.logoContainer span {
  font-weight: 500;
  cursor: pointer;
}

/* Log out button */
.logoutButton {
  padding: 8px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  background-color: #E0DCD3;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.3s ease;
}

.logoutButton:hover {
  filter: brightness(0.9);
  transform: scale(1.05);
}

/* Right-side icons container */
.rightSideIcons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Container for icons and logout button together */
.rightSideContent {
  display: flex;
  align-items: center; /* Ensure both icons and logout button are vertically aligned */
  gap: 20px; /* Space between icons and logout button */
}

/* Styling for top-right icons (like envelope and user) */
.topRightIcons .icon {
  padding: 10px;
  /* gap: 10px; */
  font-size: 24px; /* Adjust the icon size */
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease; /* Smooth transitions */
}

.topRightIcons .icon:hover {
  transform: scale(1.2);
}

/* Styling for user icon */
.userIcon {
  color: #000000;
}
/* Confirmation Modal Styling */
.confirmationModal {
  position: absolute;
  top: -30%;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content:center;
  align-items: center;
  z-index: 9999;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.modalButtons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.confirmBtn,
.cancelBtn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.confirmBtn {
  background-color: #F05039;
  color: white;
}

.cancelBtn {
  background-color: gray;
  color: white;
}

.red{
  color:#F05039;
}

.deleteButton {
  background-color: #F05039;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  z-index: 9999;
}
